@font-face {
    font-family: "ProximaNova";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ProximaNova-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "ProximaNova";
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/ProximaNova-RegularIt.ttf) format("truetype");
}
@font-face {
    font-family: "ProximaNova";
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/ProximaNova-Semibold.ttf) format("truetype");
}
@font-face {
    font-family: "ProximaNova";
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/ProximaNova-Extrabld.ttf) format("truetype");
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Montserrat-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Montserrat-Medium.ttf) format("truetype");
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Montserrat-SemiBold.ttf) format("truetype");
}
@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 700;
    src: url(../fonts/Montserrat-BoldItalic.ttf) format("truetype");
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/Montserrat-Bold.ttf) format("truetype");
}
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Inter-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Inter-Medium.ttf) format("truetype");
}

:root {
    --light-blue: #EAF2FD;
    --blue: #2F80ED;
    --deep-blue: #001A4E;
    --almost-black: #000F2E;
    --gray: #4F4F4F;
    --light-gray: #9D9D9D;
    --green: #4BC937;
    --gold: #E6A641;
}

*, *::before, *::after {
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul {
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    position: relative;
    max-width: 100%;
    overflow-x: hidden;
    font-family: Montserrat, sans-serif;
    background: url('../img/bg_body_min.png');
}
header {
    font-family: ProximaNova, sans-serif;
    background-color: white;
    border-bottom: 1px solid #E6E7EA;
}

.wrapper {
    margin: 0 auto;
    max-width: 1190px;
    padding: 0 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.wrapper1200 {
    margin: 0 auto;
    max-width: 1230px;
    padding: 0 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.topPanel__container {
    background: linear-gradient(260deg, #000F2E -78%, #011232 -78%, #2F80ED 45%);
}

.topPanel {
    padding: 6px 0;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    color: white;
    font-size: 13px;
}

.topPanel__work-time {
    opacity: 0.5;
}

.topPanel__podbor {
    margin-left: 76px;
    display: flex;
    align-items: center;
    color: white;
}
.topPanel__podbor svg {
    margin-right: 4px;
}

.topPanel__menu {
    margin-left: auto;
    display: flex;
    flex-flow: wrap;
}
.topPanel__menu a {
    margin-left: 24px;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
    position: relative;
}
.logo {
    margin: 0 28px;
}
.logo img {
    width: 100%;
}
.search-wrapper .header__nav__search {
    display: none;
}
.search-wrapper {
    display: flex;
    flex: 2;
}
.header-searchform {
    display: flex;
    width: 100%;
}
.header-searchform__input {
    padding: 0 36px;
    flex: 1;
    font-family: ProximaNova, sans-serif;
    font-size: 20px;
    border: 1px solid #E6E7EA;
    border-radius: 28px;
}
.header-searchform__input:focus {
    outline: none;
}
.header-searchform__input::placeholder {
    font-family: ProximaNova, sans-serif;
    font-size: 20px;
    color: #999FAB;
}
.header-searchform .search-title-button {
    margin: 0 0 0 -56px;
    background-color: white;
    cursor: pointer;
}
.search-title-button svg {
    margin: auto;
}
.adaptive_wrapper {
    background-color: white;
    transition: transform 0.3s;
    z-index: 15;
}
.btn-burger {
    margin: 16px auto 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 28px;
    height: 21px;
    font-size: 0;
    background-color: inherit;
    border: none;
    z-index: 20;
}
.btn-burger:focus {
    outline: none;
}
.btn-burger:focus-visible {
    outline: var(--deep-blue);
}
.btn-burger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--deep-blue);
    transition: all 0.3s;
}
.btn-burger span::before, .btn-burger span::after {
    content: '';
    position: absolute;
    right: 0;
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--deep-blue);
    transition: all 0.3s;
}
.btn-burger span::before {
    top: 0;
}
.btn-burger span::after {
    bottom: 0;
}
.btn-burger.active span{
    background-color: transparent;
}
.btn-burger.active span::before {
    transform: rotate(45deg);
    top: 9px;
}
.btn-burger.active span::after {
    transform: rotate(-45deg);
    bottom: 9px;
}

#title-search {
    margin-right: 10px;
    padding: 14px 16px;
    background: white;
    border-left: 1px solid #E6E7EA;
    border-right: 1px solid #E6E7EA;
    flex: 2;
    z-index: 30;
}
#title-search.active {
    display: block;
    width: unset;
    left: 0;
    right: 0;
    bottom: 0;
}
.header__controls-block {
    display: flex;
    justify-content: space-between;
    flex: 1;
    z-index: 15;
    background-color: transparent;
}
.header__contacts {
    margin: 0 28px 0 10px;
    display: flex;
}
.header__contacts_adaptive {
    margin: 16px;
    display: flex;
    justify-content: center;
}
.header__contacts__img-container {
    margin-right: 8px;
    display: flex;
}
.header__contacts__img-container img{
    margin: auto 0;
    width: 22px;
}
.header__contacts_right {
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}
.header__contacts_right a {
    white-space: nowrap;
}
.header__contacts__phone-link {
    color: var(--almost-black);
    font-size: 18px;
    /*transition: transform 0.2s;*/
}
.header__contacts__phone-link:hover {
    transform: scale(1.05);
}
.header__callback-link {
    margin-top: 4px;
    padding: 8px 26px 7px;
    display: block;
    background-color: white;
    border: 1px solid #E6E7EA;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    color: var(--almost-black);
    font-size: 12px;
}
.header__buttons {
    margin-left: 8px;
    display: flex;
}
.header__link_round {
    margin: 12px 10px 12px 0;
    display: flex;
    width: 56px;
    height: 56px;
    background-color: white;
    border: 1px solid #E6E7EA;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
}
.header__link_round svg {
    margin: auto;
}
.header__link_round:hover {
    background: linear-gradient(75deg, #2F80ED 58%, #000F2E 269%);
}
.header__link_round:hover svg path {
    fill: white;
}
.header__cart_left {
    display: flex;
    flex: 1;
}
.header__link_round img {
    margin: auto;
}
.header__sign-in img {
    height: 28px;
}
.header__compare img {
    height: 18px;
}
.header__cart {
}
.bx-nav-2-lvl-container, .bx-nav-2-lvl-container-advanced {
    display: none;
}
.bx-nav-1-lvl {
    flex: 1;
    text-align: center;
}
.bx-nav-1-lvl:not(:last-child) {
    border-right: 1px solid #E6E7EA;
}
.bx-nav-1-lvl-link {
    padding: 16px 0;
    display: block;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
    transition: background-color 0.3s;
    color: var(--almost-black);
    font-size: 18px;
    font-weight: 600;
}
.bx-nav-1-lvl-link:hover {
    background-color: var(--light-blue);
}
.header__nav nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-between;
}
.header__nav {
    position: relative;
    z-index: 10;
    border-top: 1px solid #E6E7EA;
}
.header__nav_wr, .header {
    border-left: 1px solid #E6E7EA;
    border-right: 1px solid #E6E7EA;
}
.header__nav_wr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.top-nav-container {
    display: block;
    flex-grow: 1;
    padding: 0;
}
.header__hamburger, .headerNav_adaptive {
    display: none;
}
.headerNav_adaptive.active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--light-blue);
    z-index: 30;
}
.hero {
    margin-top: 34px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 40px;
}
.hero__slider-container, .hero__left-block {
    padding: 30px 24px 24px 40px;
    background-color: white;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
}
.hero__slider-container {
    flex: 3;
    max-width: 650px;
    min-height: 400px;
    background: white url('../img/mask1.svg') bottom right no-repeat;
}
.hero__left-block {
    flex: 2;
    max-width: 650px;
    background: white url('../img/mask2.svg') bottom right no-repeat;
}
.slide-link__wrapper {
    display: flex;
    justify-content: space-between;
}
.hero__link_left__img-wrapper {
    display: flex;
    justify-content: flex-end;
}
.hero__link_left img {
    transition: transform 0.3s;
}
.hero__link_left:hover img {
    transform: rotate(8deg);
}
.hero__tag {
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    color: var(--almost-black);
}
.hero__h1, .hero__slider__text {
    margin-right: 50px;
    font-size: 32px;
    font-weight: 800;
    color: black;
}
.hero__slider__text {
    font-size: 40px;
}
.s_catalog {
    margin-top: 30px;
}
.catalog__list {
    margin-top: 20px;
    display: flex;
    flex-flow: wrap;
    gap: 40px;
}
.catalog__item {
    position: relative;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    background-size: cover;
}
.catalog__item_big {
    flex: 3;
    min-width: 500px;
    min-height: 200px;
}
.catalog__item_big:hover .catalog__img_top {
    transform: rotate(10deg);
}
.catalog__item:hover .catalog__img, .catalog__item:hover .catalog__img_bottom {
    transform: scale(1.1);
}
.catalog__item_small {
    flex: 2;
    min-width: 350px;
}
.catalog__item h3 {
    position: relative;
    max-width: 360px;
    font-size: 30px;
    font-weight: 800;
    z-index: 10;
}
.catalog__item.catalog__item_small  h3 {
    font-size: 24px;
}
.catalog__item__wrapper {
    padding: 40px 20px 20px 30px;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
}
.catalog__item__text-wrapper {
    display: flex;
    flex-flow: column;
    min-height: 130px;
}
.catalog__item_big .catalog__item__wrapper .link__round_blue {
    margin-top: 20px;
}
.catalog__item__wrapper .link__round_blue{
    margin-top: 40px;
}
.catalog__item.item__bg-blue_big {
    background: white url('../img/mask3.svg') right top no-repeat;
}
.catalog__item.item__bg-pink {
    background: white url('../img/mask4.svg') right top no-repeat;
}
.catalog__item.item__bg-ochre {
    background: white url('../img/mask5.svg') right bottom no-repeat;
}
.catalog__item.item__bg-green {
    background: white url('../img/mask6.svg') right bottom no-repeat;
}
.catalog__item.item__bg-blue_small {
    background: white url('../img/mask7.svg') right bottom no-repeat;
}
.catalog__img {
    position: absolute;
    bottom: 0;
    right: -20px;
    z-index: 5;
    transition: transform 0.3s;
}
.catalog__img_top {
    position: absolute;
    right: 110px;
    top: -44px;
    transition: transform 0.3s;
}
.item__bg-pink .catalog__img_top {
    right: 200px;
}
.catalog__img_bottom {
    position: absolute;
    right: -20px;
    bottom: -20px;
    transition: transform 0.3s;
}
.s_new-product {
    margin-top: 30px;
}
.new-product__header {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #E6E7EA;
}
.new-product__header h2{
    font-size: 24px;
    font-weight: 800;
}
.product__list {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 220px));
    grid-gap: 14px;
    justify-content: center;
}
.product__list__item {
    padding: 6px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.product__list__item:hover {
    box-shadow: 0 0 8px 6px var(--light-blue)
}
.item__imgLink {
    display: flex;
    justify-content: center;
    height: 190px;
    overflow: hidden;
}
.item__nameLink {
    margin-top: 16px;
    font-size: 14px;
    color: black;
    font-weight: 500;
}
.product__description {
    position: relative;
    display: flex;
    flex-flow: column;
}
.btn_favourite {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.3s;
}
.btn_favourite:hover {
    transform: scale(1.2);
}
.product__stickers {
    position: absolute;
    top: 160px;
    left: 0;
    right: 0;
}
.product__sticker {
    padding: 6px 8px;
    display: none;
    font-weight: 700;
    font-size: 14px;
    color: white;
}
.product__sticker {
    display: inline-block;
}
.product__sticker_new {
    background: linear-gradient(252deg, #00414E 0%, #0D004E 100%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.product__sticker_sale {
    background: linear-gradient(72deg, #FF6633 0%, #FFC633 100%);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.product__price-container {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price-wrapper {
    display: flex;
}
.product__price {
    display: none;
    font-size: 18px;
    font-weight: 600;
}
.product__price.active {
    display: inline-block;
}
.product__price_strike {
    margin-right: 8px;
    font-size: 15px;
    text-decoration: line-through;
    font-style: italic;
    color: #BDBDBD;
}
.product__price_discount {
    color: var(--gold);
}
.product__availability {
    display: none;
    color: var(--green);
    font-size: 10px;
}
.product__availability.active {
    display: inline-block;
}
.product__info__availability {
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
    color: #219653;
}
.product__info__availability svg {
    margin-right: 4px;
}
.product__pick-wrapper {
    margin-top: 12px;
    display: flex;
    gap: 10px;
}
.btn_square {
    display: inline;
    flex: 1;
    height: 38px;
    background-color: transparent;
    color: var(--blue);
    border: 1px solid var(--blue);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
}
.btn_add-cart.active {
    color: white;
    background: linear-gradient(76.45deg, #2F80ED 58.53%, #000F2E 269.63%);
    box-shadow: 1px 2px 4px rgba(33, 150, 83, 0.1);
}
.btn_compare {
    display: none;
}
.btn_compare.active{
    display: inline;
}
.product__amount-wrapper {
    margin-top: 10px;
    padding: 4px 2px;
    display: none;
    justify-content: space-between;
    font-size: 26px;
    font-weight: 500;
    border: 1px solid var(--blue);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: var(--blue);
}
.product__amount-wrapper.active {
    display: flex;
}
.product__amount-btn {
    padding: 0 8px;
    border: none;
    background-color: transparent;
    font-size: 26px;
    color: var(--blue);
    /*transition: transform 0.2s;*/
    cursor: pointer;
}
.product__amount-btn:hover {
    transform: scale(1.4);
}
.shops-banner__container .wrapper{
    padding-top: 56px;
    position: relative;
}
.shops-banner {
    padding: 52px 60px;
    position: relative;
    background: linear-gradient(120deg, #0E004F 0%, #9222BC 100%);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: white;
    overflow: hidden;
}
.shops-banner h2 {
    margin-bottom: 14px;
    position: relative;
    max-width: 370px;
    font-size: 40px;
    font-weight: 800;
    line-height: 1.05;
    z-index: 10;
}

.shops-banner p {
    max-width: 340px;
    position: relative;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
    z-index: 10;
}

.shops-banner__img {
    position: absolute;
}
.shops-banner__img1 {
    top: 0;
    right: 24px;
}
.shops-banner__img2 {
    bottom: 0;
    left: 0;
    z-index: 5;
}
.shops-banner__img3 {
    top: 10px;
    right: 40%;
}
.shops-banner__img4 {
    bottom: 0;
    right: 12%;
}
.s_brands {
    margin-top: 28px;
}
.brands {
    border-top: 1px solid #C3C8D3;
}
.brands__list {
    display: flex;
    flex-flow: wrap;
    gap: 14px;
    justify-content: center;
}
.brands__item {
    display: flex;
    width: 220px;
    height: 220px;
    background-color: white;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    overflow: hidden;
}
.brands__item img {
    margin: auto;
}
.about_main {
    margin: 30px 0;
}
.link__round_blue {
    padding: 13px 22px 12px;
    display: inline-block;
    color: var(--blue);
    border: 1px solid var(--blue);
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    font-size: 15px;
    font-weight: 500;
    transition: all 500ms;
    position: relative;
    z-index: 20;
}
.link__round_blue:hover, .news-item__link:hover, .header__callback-link:hover {
    color: white;
    background: linear-gradient(76deg, #2F80ED 58%, #000F2E 270%);
}
.link__round_blue:hover svg, .news-item__link:hover svg {
    transition: transform 300ms;
    transform: translateX(8px);
}
.link__round_blue:hover svg path, .news-item__link:hover svg path {
    fill: white;
}
.about_main__container {
    padding: 40px 40px 32px 32px;
    background: white url('../img/logo_small.png') bottom 40px right 56px no-repeat;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
}
.about_main__container h2 {
    margin-bottom: 14px;
    font-size: 20px;
}
.about_main__container p {
    font-size: 18px;
    line-height: 1.3;
}
.about_main__container .link__round_blue {
    margin-top: 32px;
}
.news__container {
    border-top: 1px solid #C3C8D3;
}
.news__container h2, .brands h2 {
    margin: 32px 0;
    color: var(--deep-blue);
    font-size: 24px;
    font-weight: 800;
}
.news__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 5fr));
    gap: 14px;
}
.news__list li p {
    margin-top: 10px;
    font-family: Inter, sans-serif;
    font-size: 12px;
    color: var(--gray);
}
.news__img-container {
    overflow: hidden;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}
.news__img-container img {
    width: 100%;
}
.news-item__title {
    margin-top: 10px;
    font-size: 18px;
}
.news-item__link {
    margin-top: 16px;
    padding: 12px 0;
    display: block;
    text-align: center;
    font-size: 15px;
    border: 1px solid var(--blue);
    color: var(--blue);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
footer {
    margin-top: 60px;
    padding: 96px 0 24px;
    font-family: Inter, sans-serif;
    font-size: 14px;
    background-color: var(--deep-blue);
    color: white;
}

.footer {
    display: flex;
    flex-flow: wrap;
    justify-content: center;

}
footer a{
    color: white;
}
.footer h4 {
    margin-bottom: 22px;
    padding: 10px 0;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.footer__menu li {
    margin-bottom: 16px;
}
.footer__info, .footer__menu {
    /*padding-right: 1.5em;*/
    flex: 1;
    max-width: 300px;
    min-width: 280px;
}
.footer__info .logo{
    margin-bottom: 24px;
}
.footer__info p {
    line-height: 1.8;
}

.footer_bottom {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.footer_bottom ul{
    display: flex;
}
.footer_bottom__nav-info li{
    margin-left: 12px;
    padding: 2px 0;
}
.footer_bottom__nav-info li:not(:last-child){
    padding-right: 12px;
    border-right: 1px solid white;
}
.footer__contacts-list a {
    display: flex;
    line-height: 1.8;
}
.footer__icon-wrapper {
    width: 30px;
}
.modal--callback {
    max-width: 500px;
    width: 100%;
    padding: 30px;
    text-align: center;
}
.modal {
    display: none;
    background: #F5F5F5;
    width: 450px;
}
.form-input {
    height: 45px;
    padding: 0 20px;
    line-height: 28px;
}
.modal .form-input, .modal .form-textarea {
    width: 100%;
    background: #fff;
    border: 1px solid var(--light-blue);
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    border-radius: 24px;
    color: #000;
    font-size: 14px;
    font-weight: 300;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.slick-dots {
    position: absolute;
    display: flex;
    bottom: -24px;
    left: 50%;
    transform: translateX(-50%);
}
.slick-dots button{
    margin-right: 14px;
    padding: 0;
    width: 8px;
    height: 8px;
    font-size: 0;
    background-color: var(--deep-blue);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: none;
}
.breadcrumbs__list {
    margin-top: 20px;
    display: flex;
    flex-flow: wrap;
    font-family: ProximaNova, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: black;
}
.breadcrumbs__item {
    padding-right: 12px;
    position: relative;
}
.breadcrumbs__item a {
    color: var(--blue);
}
.breadcrumbs__item a:after {
    content: '/';
    padding-left: 8px;
    color: black;
}
.product__h1 {
    margin: 10px 0 20px;
    font-size: 32px;
    font-weight: 600;
    font-family: ProximaNova, sans-serif;
}
.product__about {
    margin-top: 40px;
    display: flex;
    flex-flow: wrap;
    gap: 40px;
    font-family: ProximaNova, sans-serif;
}
.product__about__block {
    padding: 34px 62px;
    flex: 1;
    min-width: 420px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.characteristics__list li{
    display: flex;
}
.characteristics__name .characteristics__value {
    flex: 1;
}
.dots {
    margin: 0 8px;
    flex: 2;
    border-bottom: 2px dotted #BFBFBF;
}
.catalog_page {
    margin-top: 10px;
    font-family: ProximaNova, sans-serif;
}
.catalog_page h1 {
    font-size: 32px;
    font-weight: 600;
}
.catalog__categories {
    margin-top: 8px;
    padding: 24px 20px;
    position: relative;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.catalog__categories__wrapper {
    display: flex;
    flex-flow: wrap;
    gap: 8px;
    height: 40px;
    overflow: hidden;
}
.catalog__categories.active .catalog__categories__wrapper{
    height: unset;
}
.catalog__categories.active .catalog__categories__btn-more svg{
    transform: rotate(180deg);
}
.catalog__categories__item {
    padding: 0 20px;
    display: inline-flex;
    align-items: center;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    color: black;
    border: 1px solid var(--blue);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.catalog__categories__item span {
    margin-left: 4px;
    color: var(--light-gray);
}
.catalog__categories__item.active {
    color: white;
    background: linear-gradient(76deg, #2F80ED 58%, #000F2E 269%);
}
.catalog__categories__item.active span{
    color: white;
}
.catalog__categories__btn-more {
    padding: 2px 0;
    position: absolute;
    bottom: -20px;
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 6px 4px 0 #DAE6F6;
    cursor: pointer;
}
.catalog {
    margin-top: 40px;
    display: flex;
    gap: 40px;
}
.sort-wrapper {
    margin-top: 40px;
    padding: 20px;
    height: 60px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: white;
}
.sort-link {
    padding-right: 8px;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    color: var(--gray);
}
.sort-link.selected {
    color: var(--blue);
}
.sort-link.selected svg path{
    fill: var(--blue);
}
.product__list__wrapper {
    width: 100%;

}
.catalog .product__list {
    grid-template-columns: repeat(auto-fit, minmax(240px, 270px));
    grid-gap: 40px;
}
.catalog .item__imgLink {
    height: 260px;
}
.catalog .product__stickers {
    top: 240px;
}
.popular {
    margin-top: 40px;
}
.popular .wrapper1200 {
    padding-bottom: 20px;
    background-color: white;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.popular__header {
    margin: 20px 60px 12px;
    padding: 28px 16px 16px;
    border-bottom: 1px solid #C4C4C4;
}
.popular__header h2 {
    font-size: 20px;
    font-weight: 600;
    font-family: ProximaNova, sans-serif;
}
.s_product {
    padding: 60px 60px 20px 20px;
    background-color: white;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-family: ProximaNova, sans-serif;
}
.product_main {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.product__img-wrapper {
    max-width: 660px;
    overflow: hidden;
}
.product__img-wrapper img{
    max-width: 100%;
}
.product__info__header {
    margin-bottom: 10px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #C4C4C4;
}
.product__info__id {
    margin-left: 10px;
    font-size: 14px;
}
.product__info__rating {
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #BFBFBF;
}
.product__info__rating svg{
    margin-right: 4px;
}
.product__info {
    max-width: 420px;
}
.product__info h2 {
    margin-top: 20px;
    font-size: 32px;
    font-weight: 600;
}
.characteristics__list {
    margin-top: 20px;
    background-color: #FBFBFB;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.characteristics__list li {
    padding: 14px;
    font-size: 15px;
    font-weight: 600;
}
.tab-text__block {
    display: none;
}
.tab-text__block.active {
    display: block;
}
.product__about__header {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #C4C4C4;
}
.product__about__header h3, .tab-btn {
    font-size: 20px;
    font-family: ProximaNova, sans-serif;
}
.product__about__header h3, .tab-btn.active {
    font-weight: 600;
    color: black;
}
.tab-btn {
    margin-right: 28px;
    color: #C4C4C4;
    cursor: pointer;
}
.product__info__buttons {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #C4C4C4;
}
.product__info__buttons .product__price, .product__info__buttons .product__price_discount {
    margin-right: 8px;
    font-size: 32px;
    font-family: Montserrat, sans-serif;
}
.product__info__buttons .product__price_strike {
    margin-right: 8px;
    font-size: 24px;
    font-family: Montserrat, sans-serif;
}
.to-cart__wrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.to-cart__wrapper .product__amount-wrapper {
    margin: 0;
    flex: 2;
    height: 50px;
    align-items: center;
    color: black;
    font-size: 20px;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
}
.to-cart__wrapper .btn_add-cart, .btn_show, .btn_reset {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    flex: 3;
    height: 50px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    transition: color 0.3s, background-color 0.3s, box-shadow 0.2s;
}
.to-cart__wrapper .btn_add-cart:hover {
    color: var(--blue);
    background: var(--light-blue);
    box-shadow: 0 0 2px 4px var(--blue);
}
.sidebar-filters__row__buttons {
    display: flex;
    gap: 8px;
}
.btn_show, .btn_reset {
    font-size: 14px;
    height: 36px;
}
.btn_show {
    font-weight: 600;
    background: linear-gradient(76deg, #2F80ED 58%, #000F2E 269%);
    color: white;
}
.btn_buy {
    margin-top: 20px;
    padding: 16px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    color: var(--blue);
    background-color: var(--light-blue);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    transition: color 0.3s, background-color 0.3s;
}
.btn_buy:hover {
    color: white;
    background-color: var(--blue);
}
.add-share {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.favourites, .share {
    padding: 0 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #F9F8F8;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #A0A0A0;
    font-size: 16px;
    font-weight: 600;
    height: 50px;
}
.share {
    flex: 2;
}
.share svg {
    margin-right: 10px;
}
.slider-nav {
    width: 300px;
}
.slider-nav .slick-track{
    margin-left: 0;
}

